@if (loading()) {
  <p>Carregando despesas...</p>
} @else if (error()) {
  <p>{{ error() }}</p>
} @else {
  <app-expense-actions
    [selectedCount]="selectedCount()"
    [allSelected]="allVisibleSelected()"
    [partiallySelected]="partiallyVisibleSelected()"
    (addExpense)="onAddExpense()"
    (selectAllToggle)="onSelectAllToggle($event)"
    (consolidateSelected)="onConsolidateSelected()"
    (unconsolidateSelected)="onUnconsolidateSelected()"
    (deleteSelected)="onDeleteSelected()"
  />
  <app-expense-list
    [expenses]="expenses()"
    [selectedIds]="selectedIds()"
    (expenseClick)="onEditExpense($event)"
    (selectionToggle)="onSelectionToggle($event)"
    (consolidatedToggle)="onConsolidatedToggle($event)"
  />
}
